<div class="b-content">
    <div class="b-content-heading">
        <span style="font-size: 33px;">МИСиС</span>
        <span>Институт физико-химии материалов, Физика металлов, выпуск 2006</span>
    </div>
    
    <div class="b-content-classmates">
        <span class="b-content-classmates-heading">Ваши однокурсники</span>
        <div class="b-content-users"></div>
        <a class="b-more-users-button">Показать еще 192 чевлоека</a>
    </div>

    <div ng-if="dates.is_active()" class="b-tick"></div>
    <span class="b-content-heading-text">Выберите дату встречи</span>
    <div class="b-content-meetings">
        <div ng-repeat="date in dates.data" ng-class="{'hidden': !date.is_active}" ng-click="dates.activate(date)" class="b-content-meetings-card">
            <span class="b-content-meetings-card-date">{{date.date}}</span>
            <span style="margin-top: 3px;">{{date.time}}</span>
            <div ng-click="popup()" ng-class="{'hidden': !date.is_active}" class="b-button blue-button ">
                <span>Изменить</span>
            </div>
        </div>
    </div>

    <div ng-if="restaurants.is_active()" class="b-tick"></div>
    <span class="b-content-heading-text">Выберите ресторан</span>
    <div class="b-content-place">
        <div ng-repeat="restaurant in restaurants.data" ng-class="{'hidden': !restaurant.is_active}" ng-click="restaurants.activate(restaurant)" class="b-content-place-card">
            <span class="b-content-place-card-headeing">{{restaurant.name}}</span>
            <span style="margin-top: 3px;">{{restaurant.cuisine}}</span>
            <div class="b-content-place-card-cost">
                <span>{{restaurant.cost_per_person}} руб.</span>
                <span>на человека</span>
            </div>
            <div ng-click="popup()" ng-class="{'hidden': !restaurant.is_active}" class="b-button blue-button">
                <span>Изменить</span>
            </div>
        </div>
    </div>
</div>
