* {
    margin:0px;
    padding:0px;
}

body {
    font-family: UbuntuRegular;
    background: url('common/assets/background.jpg') repeat;
}

.main {
    margin:0 auto;
    width:1176px;
}

.b-clear-float {
    clear:both; 
    float:none; 
    height:0; 
    font-size:0;
}
