
/* font-family: "UbuntuRegular"; */
@font-face {
    font-family: "UbuntuRegular";
    src: url("common/fonts/UbuntuRegular/UbuntuRegular.eot");
    src: url("common/fonts/UbuntuRegular/UbuntuRegular.eot?#iefix")format("embedded-opentype"),
    url("common/fonts/UbuntuRegular/UbuntuRegular.woff") format("woff"),
    url("common/fonts/UbuntuRegular/UbuntuRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "UbuntuBold"; */
@font-face {
    font-family: "UbuntuBold";
    src: url("common/fonts/UbuntuBold/UbuntuBold.eot");
    src: url("common/fonts/UbuntuBold/UbuntuBold.eot?#iefix")format("embedded-opentype"),
    url("common/fonts/UbuntuBold/UbuntuBold.woff") format("woff"),
    url("common/fonts/UbuntuBold/UbuntuBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "UbuntuItalic"; */
@font-face {
    font-family: "UbuntuItalic";
    src: url("common/fonts/UbuntuItalic/UbuntuItalic.eot");
    src: url("common/fonts/UbuntuItalic/UbuntuItalic.eot?#iefix")format("embedded-opentype"),
    url("common/fonts/UbuntuItalic/UbuntuItalic.woff") format("woff"),
    url("common/fonts/UbuntuItalic/UbuntuItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "UbuntuLight"; */
@font-face {
    font-family: "UbuntuLight";
    src: url("common/fonts/UbuntuLight/UbuntuLight.eot");
    src: url("common/fonts/UbuntuLight/UbuntuLight.eot?#iefix")format("embedded-opentype"),
    url("common/fonts/UbuntuLight/UbuntuLight.woff") format("woff"),
    url("common/fonts/UbuntuLight/UbuntuLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "UbuntuLightItalic"; */
@font-face {
    font-family: "UbuntuLightItalic";
    src: url("common/fonts/UbuntuLightItalic/UbuntuLightItalic.eot");
    src: url("common/fonts/UbuntuLightItalic/UbuntuLightItalic.eot?#iefix")format("embedded-opentype"),
    url("common/fonts/UbuntuLightItalic/UbuntuLightItalic.woff") format("woff"),
    url("common/fonts/UbuntuLightItalic/UbuntuLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "UbuntuMedium"; */
@font-face {
    font-family: "UbuntuMedium";
    src: url("common/fonts/UbuntuMedium/UbuntuMedium.eot");
    src: url("common/fonts/UbuntuMedium/UbuntuMedium.eot?#iefix")format("embedded-opentype"),
    url("common/fonts/UbuntuMedium/UbuntuMedium.woff") format("woff"),
    url("common/fonts/UbuntuMedium/UbuntuMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "UbuntuMediumItalic"; */
@font-face {
    font-family: "UbuntuMediumItalic";
    src: url("common/fonts/UbuntuMediumItalic/UbuntuMediumItalic.eot");
    src: url("common/fonts/UbuntuMediumItalic/UbuntuMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("common/fonts/UbuntuMediumItalic/UbuntuMediumItalic.woff") format("woff"),
    url("common/fonts/UbuntuMediumItalic/UbuntuMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "UbuntuBoldItalic"; */
@font-face {
    font-family: "UbuntuBoldItalic";
    src: url("common/fonts/UbuntuBoldItalic/UbuntuBoldItalic.eot");
    src: url("common/fonts/UbuntuBoldItalic/UbuntuBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("common/fonts/UbuntuBoldItalic/UbuntuBoldItalic.woff") format("woff"),
    url("common/fonts/UbuntuBoldItalic/UbuntuBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
