<div ng-click="close()" class="b-popup-shadow"></div>
<div ng-init="init()" class="b-dialog date-dialog animated fadeInDown">
    <div class="b-dialog-content">
        <span>Изменить дату встречи</span>
        <form name="dateForm" novalidate>
            <input class="b-dialog-date-input" ui-date="dateOptions" type="text" placeholder="Дата" name="date" ng-model="date" ng-required="true">
            <div class="b-dialog-buttons">
                <div ng-class="{'disabled': !dateForm.$valid}" class="b-button grey-button change-button" ng-click="close(date)"><span>Изменить</span></div>
                <div class="b-button grey-button" ng-click="close()"><span>Закрыть</span></div>
            </div>
        </form>
    </div>
</div>
