<div class="b-popup-shadow"></div>
<div class="b-dialog cost-dialog animated fadeInDown">
    <div class="b-dialog-content">
        <span>Изменить стоимость на человека</span>
        <form name="costForm">
            <input class="b-dialog-content-input" type="number" placeholder="Сумма" name="cost" ng-model="cost" required>
        </form>
        <div class="b-dialog-buttons">
            <div class="b-button grey-button change-button" ng-click="close(cost)"><span>Изменить</span></div>
            <div class="b-button grey-button" ng-click="close()"><span>Закрыть</span></div>
        </div>
    </div>
</div>
